.listTitle {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 50px;
    color: lightcoral;
}

.btnWrap {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: right;
}

.btnWrap>#_csWriteBtn {
    width: 100px;
    height: 60px;
    border: none;
    border-radius: 15px;
    font-family: "paybooc-light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background-color: #f199bc;
    color: #d4dfe6;
    cursor: pointer;
}

.btnWrap>#_csWriteBtn:hover {
    width: 110px;
    height: 70px;
    background-color: #f199bc;
    color: #d4dfe6;
}

.guide {
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    background-color: pink;
    border-radius: 10px;
}

.guide>span:nth-child(1) {
    width: 3%;
    display: flex;
    justify-content: center;
}

.guide>span:nth-child(2) {
    width: 25%;
    display: flex;
    justify-content: center;
}

.guide>span:nth-child(3) {
    width: 35%;
    display: flex;
    justify-content: center;
}

.guide>span:nth-child(4) {
    width: 10%;
    display: flex;
    justify-content: center;
}

.guide>span:nth-child(5) {
    width: 15%;
    display: flex;
    justify-content: center;
}

.guide>span:nth-child(6) {
    width: 5%;
    display: flex;
    justify-content: center;
}

.guide>span:nth-child(7) {
    width: 7%;
    display: flex;
    justify-content: center;
}

#List {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#List>div {
    width: 100%;
    display: flex;
    align-items: center;
}

#List>div>span:nth-child(1) {
    width: 3%;
    display: flex;
    justify-content: center;
}

#List>div>span:nth-child(2) {
    width: 25%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
}

#List>div>span:nth-child(3) {
    width: 35%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
}

#List>div>span:nth-child(4) {
    width: 10%;
    display: flex;
    justify-content: center;
}

#List>div>span:nth-child(5) {
    width: 15%;
    display: flex;
    justify-content: center;
}

#List>div>span:nth-child(6) {
    width: 5%;
    display: flex;
    justify-content: center;
}

#List>div>span:nth-child(7) {
    width: 7%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#List>div>span:nth-child(7):hover {
    width: 7%;
    height: 40px;
    display: flex;
    align-items: center;
}

.searchWrap {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchWrap>#searchInput {
    width: 20%;
    font-size: 20px;
}

.paginationWrap {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationWrap>#pagination {
    width: 10%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.paginationWrap>#pagination li {
    width: 25px;
    height: 25px;
    background-color: #f199bc;
    opacity: 0.7;
    color: white;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}

.paginationWrap>#pagination li:hover {
    width: 32px;
    height: 32px;
    background-color: #f199bc;
    opacity: 1;

}